
<h1 style="text-align: center;">Web Socket</h1>

<h2 style="text-align: center;"> Agregar producto </h2>
  <div class="productContainter">
    <div class="productTitleAdd">
      <div class="id titleCards">ID</div>
      <div class="title titleCards">Titulo</div>
      <div class="description titleCards" style="justify-content: center;">Descripcion</div>
      <div class="price titleCards">Precio</div>
      <div class="thumbnail titleCards"> Imagen </div>
      <div class="code titleCards"> Codigo</div>
      <div class="stock titleCards">Stock</div>
      <div class="category titleCards">Categoria</div>
      <div class="status titleCards">Estado</div>    
    </div>
  </div>
  <div style="margin-bottom: 30px;">

  </div>

<h2 style="text-align: center"> Lista de productos </h2>

<div class="productContainter">
  <div class="productTitle">
      <div class="id titleCards">ID</div>
      <div class="title titleCards">Titulo</div>
      <div class="descriptionList titleCards" style="justify-content: center;">Descripcion</div>
      <div class="price titleCards">Precio</div>
      <div class="thumbnail titleCards"> Imagen </div>
      <div class="code titleCards"> Codigo</div>
      <div class="stock titleCards">Stock</div>
      <div class="category titleCards">Categoria</div>
      <div class="status titleCards">Estado</div>
      <div class="deleteButton titleCards">Eliminar</div>
  </div>
  
    <div id="ProductsServerList"> </div>    

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js" integrity="sha512-uXal8CICQ52UxoF9A3yBP6GUXGu5N2IoTZf/YXGMW4M0AvNyViA0ZjpGf9uqRpkN4kyx41Y5I0DmTQNOS6G05A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
